################## SCZ .gitignore file ##################
### R data files
*.Rdata

### Igore data file (use "data/" to ignore folders named "data" at any level of the filesystem tree (only folders))
data